.background-container {
  position: static;
  height: 100vh;
  background-image: url('https://littlevisuals.co/images/sunset.jpg');
  background-size: cover;
}

.main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}